body {
	margin: 0px;
	padding: 0px;
	color: #e7e0cf;
	font-family: Helevetica,Arial,sans-serif;
	font-size: 13px;
	line-height:1.5em; 
	background-color: #ebe8dd;
	background-image: url(../images/templatemo_body.png);
	background-repeat: repeat-x;
}

#templatemo_menu {
	width: 100%;
	height: 39px;
	padding: 10px 30px;
	background: url(../images/templatmeo_menu.png) repeat-x;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 102px;
	height: 24px;
	padding: 3px 0 0 0;
	margin: 0 5px 0 0 ;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	color: #333;	
	font-weight: bold;
	outline: none;
	border: none;
	background: url(../images/templatemo_menu.png) top left no-repeat; 
}

.scroll_300 {
width:1100px;
height:auto;
overflow: auto; 
overflow-y:hidden;
}

.scroll_1150 {
width:1152px;
height:auto;
overflow: auto; 
overflow-y:hidden;
}

.scroll_rpt {
width:1150px;
height:auto;
overflow: auto; 
overflow-y:hidden;
}

.scroll_rpt2 {
width:1155px;
height:auto;
overflow: auto; 
overflow-y:hidden;
}

.scroll_shrinkage {
width:1220px;
height:auto;
overflow: auto; 
overflow-y:hidden;
}

.scroll_120 {
width:100%;
height:120px;
overflow:auto;
}

.btnold { background-color:#F1EDC2; 
          border-top:1px solid #CCCCCC;
          border-left:1px solid #CCCCCC;
          border-right:2px solid #999999;
          border-bottom:2px solid #999999; 
          font-size:11px;  
          font-weight:bold;
	height: 21px;
	width: 52px;
	cursor:pointer;
	
}

#templatemo_menu ul li a:hover {
	background: url(../images/templatemo_menu_hover.png) no-repeat;
}

#templatemo_menu ul li .current {
	background: url(../images/templatemo_menu_hover.png) no-repeat;
}

.txtgreen,.txtgreenbold,.txtgreenbold13  {color:#006600;}
.bordergreen {border-left:1px solid #959F63;border-bottom:1px solid #959F63;border-right:1px solid #959F63;
	height: 39px;
}

.txtbold,.txtredbold,.txtgreenbold,.txtnavgreenbold,.txtgreenbold13,.txtdarkgreenbold10,.txtwhitebold,.txtredsbold,.txtblueboldlink,.txtnavwhitebold,.txtwhitebold13,.txtdredbold13,.txtdredbold { font-weight:bold;}
.txtred,.txtredbold {color:#292421;}
.txtred,.txtredbold {font-size:11px;}
.txtwhitebold {font-size:12px; color:White; font-weight:bold}

.textred {color:#292421; font-size:11px; font-weight:bold;}
.txtblack {color:Black; font-size:11px; font-weight:bold;}

.tabmin {background-image:url(../images/tabminmax_r1_c1.jpg); width:5px; height:25px; background-repeat:no-repeat;}
.tabmin2 {background-image:url(../images/tabminmax_r1_c6.jpg); background-repeat:repeat-x;}
.tabmin3 {background-image:url(../images/tabminmax_r1_c7.jpg); width:5px; height:25px; background-repeat:no-repeat;}

.txtfield {border: 1px solid #CCCCCC; font-size:11px; }

.bdiv_r 
{
	border-right:1px solid #8b4552; 
    color:Black; 
    font-size:11px;
    font-weight:bold;
    background-color:#AAAAAA;
}

.gvBorderColor
{
    border: solid 2px #000;
    background-color: #9e9374;
    font-size:11px;
    color:Black;
    word-wrap:normal;
}

.gvTrBorder
{
   background-color: #9e9374;
   border-left: solid 2px #000;
   border-right: solid 2px #000;
   border-top:solid 2px #000;
   border-bottom: solid 2px #000;
}

.gvColor
{
	color:Black;
	font-size:11px;
	font-weight:bold;
	}
	
.gvFooter
{
	background-color: #BBBBBB;
	color:Black;
	font-size:11px;
	font-weight:bolder;
}

.topnav {background-image:url(../images/topnav.jpg); height:37px; background-repeat:repeat-x;}
