
@{
    Layout = null;
}
@*<span class="txtbold">Welcome &nbsp;</span><span id="lblUser" style="font-weight:bold; font-size:11.5px;">@ViewBag.FullName</span>*@

<div  style="float:right; height: 35px;">
    <span class="navbar-brand" style="font-size:12px; font-weight:bolder;">Welcome &nbsp; @ViewBag.FullName</span>
</div>