.btnPostNew
{
	height: 35px;
	width: 82px;
	background: url(../images/Forums/POSTNew.png) no-repeat;
	border:0;
	cursor:pointer
}
.commentActive
{
	height: 48px;
	width: 48px;
	background: url(../images/Forums/FORUM_NEW.png) no-repeat;
	border:0;
	cursor:pointer
}
.commentInActive
{
	height: 48px;
	width: 48px;
	background: url(../images/Forums/FORUM_OLD.png) no-repeat;
	border:0;
	cursor:pointer
}
.replyLink
{
	font-family:Verdana;
	font-size:11px;
	font-weight:700;
	color:#062b5e;		
}
.lblUsername
{
	font-family:Verdana;
	font-size:14px;
	font-weight:700;
	color:#062b5e;	
}
.lblDateValue
{
	font-family:Verdana;
	font-size:11px;
	color: Red;
	font-style:italic;
}
.lblCommentNum
{
	font-family:Verdana;
	font-size:11px;
	color: #062b5e;
}
.tdDetails
{
	background-color:#dce8fa;
	width:20%; 
	vertical-align:top;	
}
.tdDetailsForum
{
	background-color:#dce8fa;
	width:40%; 
	vertical-align:top;	
}
.tdForum
{
	background-color:#dce8fa;
	width:60%; 
	vertical-align:top;	
}
.tdComment
{
	background-color:#f3f6fb;
	vertical-align: top;
	font-family:Verdana;
	font-size: 12px;	
}
.tdViews
{
	background-color:#dedfde;
	vertical-align: top;
	font-family:Verdana;
	font-size: 11px;	
}
.tdReplies
{
	background-color:#ededed;
	vertical-align: top;
	font-family:Verdana;
	font-size: 11px;
}