.uploaderTbl
{
	background-color:#999999; 
	width:60%;
	border-color: Black;
	border-style:solid;
	border-width:1px;
}

.uploaderTbl2
{
	background-color:#999999; 
	width:60%;
	border-color: #7c7c7c;
	border-style:solid;
	border-width:1px;
}
